In [1]:
from pymongo import MongoClient

In [2]:
myclient = MongoClient("mongodb://localhost:27017/")

In [3]:
mydb = myclient["titanic"]

In [4]:
print(myclient.list_database_names())

['admin', 'config', 'local', 'titanic']

In [5]:
test_col = mydb["test"]
train_col = mydb["train"]

In [6]:
print(mydb.list_collection_names())

['test', 'train']

In [7]:
test_list = [
    { 
        'pclass':'row1',
        'sex':'row1',
        'Age':'row1',
        'sibsp':'row1',
        'parch':'row1',
        'ticket':'row1',
        'fare':'row1',
        'cabin':'row1',
        'embarked2':'row1',
    },
    { 
        'pclass':'row2',
        'sex':'row2',
        'Age':'row2',
        'sibsp':'row2',
        'parch':'row2',
        'ticket':'row2',
        'fare':'row2',
        'cabin':'row2',
        'embarked2':'row2',
  },
  { 
        'pclass':'row3',
        'sex':'row3',
        'Age':'row3',
        'sibsp':'row3',
        'parch':'row3',
        'ticket':'row3',
        'fare':'row3',
        'cabin':'row3',
        'embarked2':'row3',
    },
    { 
        'pclass':'row4',
        'sex':'row4',
        'Age':'row4',
        'sibsp':'row4',
        'parch':'row4',
        'ticket':'row4',
        'fare':'row4',
        'cabin':'row4',
        'embarked2':'row4',
    }]

In [8]:
train_list = [
    { 
        'survival':'row1',
        'pclass':'row1',
        'sex':'row1',
        'Age':'row1',
        'sibsp':'row1',
        'parch':'row1',
        'ticket':'row1',
        'fare':'row1',
        'cabin':'row1',
        'embarked2':'row1',
    },
    { 
        'survival':'row2',
        'pclass':'row2',
        'sex':'row2',
        'Age':'row2',
        'sibsp':'row2',
        'parch':'row2',
        'ticket':'row2',
        'fare':'row2',
        'cabin':'row2',
        'embarked2':'row2',
   },
   { 
        'survival':'row3',
        'pclass':'row3',
        'sex':'row3',
        'Age':'row3',
        'sibsp':'row3',
        'parch':'row3',
        'ticket':'row3',
        'fare':'row3',
        'cabin':'row3',
        'embarked2':'row3',
    },
    { 
        'survival':'row4',
        'pclass':'row4',
        'sex':'row4',
        'Age':'row4',
        'sibsp':'row4',
        'parch':'row4',
        'ticket':'row4',
        'fare':'row4',
        'cabin':'row4',
        'embarked2':'row4',
  }]

In [9]:
insert_test_col = test_col.insert_many(test_list)
insert_train_col = train_col.insert_many(train_list)

In [10]:
print(myclient.list_database_names())

['admin', 'config', 'local', 'titanic']

In [11]:
print(mydb.list_collection_names())

['test', 'train']

In [12]:
for doc in train_col.find():
    print(doc)

{'_id': ObjectId('5ce1c237060f0912c4a4abec'), 'survival': 'row1', 'pclass': 'row1', 'sex': 'row1', 'Age': 'row1', 'sibsp': 'row1', 'parch': 'row1', 'ticket': 'row1', 'fare': 'row1', 'cabin': 'row1', 'embarked2': 'row1'}
{'_id': ObjectId('5ce1c237060f0912c4a4abed'), 'survival': 'row2', 'pclass': 'row2', 'sex': 'row2', 'Age': 'row2', 'sibsp': 'row2', 'parch': 'row2', 'ticket': 'row2', 'fare': 'row2', 'cabin': 'row2', 'embarked2': 'row2'}
{'_id': ObjectId('5ce1c237060f0912c4a4abee'), 'survival': 'row3', 'pclass': 'row3', 'sex': 'row3', 'Age': 'row3', 'sibsp': 'row3', 'parch': 'row3', 'ticket': 'row3', 'fare': 'row3', 'cabin': 'row3', 'embarked2': 'row3'}
{'_id': ObjectId('5ce1c237060f0912c4a4abef'), 'survival': 'row4', 'pclass': 'row4', 'sex': 'row4', 'Age': 'row4', 'sibsp': 'row4', 'parch': 'row4', 'ticket': 'row4', 'fare': 'row4', 'cabin': 'row4', 'embarked2': 'row4'}
{'_id': ObjectId('5ce1c27f060f0917806db48f'), 'survival': 'row1', 'pclass': 'row1', 'sex': 'row1', 'Age': 'row1', 'sibsp': 'row1', 'parch': 'row1', 'ticket': 'row1', 'fare': 'row1', 'cabin': 'row1', 'embarked2': 'row1'}
{'_id': ObjectId('5ce1c27f060f0917806db490'), 'survival': 'row2', 'pclass': 'row2', 'sex': 'row2', 'Age': 'row2', 'sibsp': 'row2', 'parch': 'row2', 'ticket': 'row2', 'fare': 'row2', 'cabin': 'row2', 'embarked2': 'row2'}
{'_id': ObjectId('5ce1c27f060f0917806db491'), 'survival': 'row3', 'pclass': 'row3', 'sex': 'row3', 'Age': 'row3', 'sibsp': 'row3', 'parch': 'row3', 'ticket': 'row3', 'fare': 'row3', 'cabin': 'row3', 'embarked2': 'row3'}
{'_id': ObjectId('5ce1c27f060f0917806db492'), 'survival': 'row4', 'pclass': 'row4', 'sex': 'row4', 'Age': 'row4', 'sibsp': 'row4', 'parch': 'row4', 'ticket': 'row4', 'fare': 'row4', 'cabin': 'row4', 'embarked2': 'row4'}

In [13]:
for doc in test_col.find():
    print(doc)

{'_id': ObjectId('5ce1c237060f0912c4a4abe8'), 'pclass': 'row1', 'sex': 'row1', 'Age': 'row1', 'sibsp': 'row1', 'parch': 'row1', 'ticket': 'row1', 'fare': 'row1', 'cabin': 'row1', 'embarked2': 'row1'}
{'_id': ObjectId('5ce1c237060f0912c4a4abe9'), 'pclass': 'row2', 'sex': 'row2', 'Age': 'row2', 'sibsp': 'row2', 'parch': 'row2', 'ticket': 'row2', 'fare': 'row2', 'cabin': 'row2', 'embarked2': 'row2'}
{'_id': ObjectId('5ce1c237060f0912c4a4abea'), 'pclass': 'row3', 'sex': 'row3', 'Age': 'row3', 'sibsp': 'row3', 'parch': 'row3', 'ticket': 'row3', 'fare': 'row3', 'cabin': 'row3', 'embarked2': 'row3'}
{'_id': ObjectId('5ce1c237060f0912c4a4abeb'), 'pclass': 'row4', 'sex': 'row4', 'Age': 'row4', 'sibsp': 'row4', 'parch': 'row4', 'ticket': 'row4', 'fare': 'row4', 'cabin': 'row4', 'embarked2': 'row4'}
{'_id': ObjectId('5ce1c27f060f0917806db48b'), 'pclass': 'row1', 'sex': 'row1', 'Age': 'row1', 'sibsp': 'row1', 'parch': 'row1', 'ticket': 'row1', 'fare': 'row1', 'cabin': 'row1', 'embarked2': 'row1'}
{'_id': ObjectId('5ce1c27f060f0917806db48c'), 'pclass': 'row2', 'sex': 'row2', 'Age': 'row2', 'sibsp': 'row2', 'parch': 'row2', 'ticket': 'row2', 'fare': 'row2', 'cabin': 'row2', 'embarked2': 'row2'}
{'_id': ObjectId('5ce1c27f060f0917806db48d'), 'pclass': 'row3', 'sex': 'row3', 'Age': 'row3', 'sibsp': 'row3', 'parch': 'row3', 'ticket': 'row3', 'fare': 'row3', 'cabin': 'row3', 'embarked2': 'row3'}
{'_id': ObjectId('5ce1c27f060f0917806db48e'), 'pclass': 'row4', 'sex': 'row4', 'Age': 'row4', 'sibsp': 'row4', 'parch': 'row4', 'ticket': 'row4', 'fare': 'row4', 'cabin': 'row4', 'embarked2': 'row4'}

In [14]:
for doc in train_col.find({},{'_id':0, 'survival':1, 'pclass':1}):
    print(doc)

{'survival': 'row1', 'pclass': 'row1'}
{'survival': 'row2', 'pclass': 'row2'}
{'survival': 'row3', 'pclass': 'row3'}
{'survival': 'row4', 'pclass': 'row4'}
{'survival': 'row1', 'pclass': 'row1'}
{'survival': 'row2', 'pclass': 'row2'}
{'survival': 'row3', 'pclass': 'row3'}
{'survival': 'row4', 'pclass': 'row4'}

In [15]:
for doc in test_col.find({},{'_id':0, 'survival':1, 'pclass':1}):
    print(doc)

{'pclass': 'row1'}
{'pclass': 'row2'}
{'pclass': 'row3'}
{'pclass': 'row4'}
{'pclass': 'row1'}
{'pclass': 'row2'}
{'pclass': 'row3'}
{'pclass': 'row4'}

In [16]:
query = { "Age": { "$gt": 20 } }

docs_test = test_col.find(query)
docs_train = train_col.find(query)

for doc in docs_test:
    print(doc)
    
for doc in docs_train:
    print(doc)

In [17]:
query_1 = { "Age": { "$lt": 10 } }
test_col.delete_many(query_1)


query_2 = { "Age": { "$lt": 15 } }
train_col.delete_many(query_2)

In [18]:
pass

In [19]:
myclient.drop_database("titanic")